:root {
  --header-height: 40px;
  --heading-margin: 20px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: gray;
  font-family: "M PLUS 1p", sans-serif;
}

html {
  /* ページ内リンクで見出しよりも少し上にリンクするための設定 */
  scroll-snap-type: y proximity;
	scroll-padding-top: 60px;
  /* スクロールをスムースにする */
  scroll-behavior: smooth;
}

body {
  width: 100%;
}

header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  height: var(--header-height);
  width: 100%;
  padding: 0 10px;
  background-color: white;
  border-bottom: 1px solid #f0f0f0;
  z-index: 100;
}

header * {
  display: inline-block;
  position: relative;
  font-family: "Oleo Script", system-ui;
}

header ul {
  margin-left: auto;
}

header li {
  padding-right: 10px;
  list-style: none;
}

#content {
  width: 80%;
  max-width: 720px;
  margin: 0 auto;
  /* ヘッダーの高さ、および、マージンの相殺の考慮 */
  margin-top: calc( var(--header-height) + var(--heading-margin) );
}

h1, h2 {
  font-family: "Oleo Script", system-ui;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  margin: var(--heading-margin) 0;
}

p {
  margin: 20px 0;
  line-height: 2;
}

header a, header a:visited, #name a, #name a:visited, #icons a, #icons a:visited {
  text-decoration: none;
}

.spacer {
  height: 20px;
}

#photo {
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 50%;
}

#name {
  text-align: center;
  line-height: 1.1;
}

#fullname {
  color: lightgray;
  font-size: 0.8rem;
}

#role {
  font-size: 0.8rem;
  line-height: 1.5;
  text-align: center;
}

p#icons {
  text-align: center;
}

.icon {
  width: 30px;
  height: 30px;
  padding: 6px;
  margin: 0 2px;
  color: white;
  background-color: gray;
  border-radius: 50%;
}

.icon#github:hover {
  background-color: #1f2328;
}

.icon#x:hover {
  background-color: black;
}

.icon#zenn:hover {
  background-color: #3ea8ff;
}

.year {
  font-family: "Oleo Script", system-ui;  
}

footer {
  padding-top: 40px;
  padding-bottom: 20px;
  font-size: 0.6rem;
  color: lightgray;
  text-align: center;
}

@media screen and (max-width: 768px) {
  header * {
    font-size: 0.9rem;
  }
  p {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 480px) {
}
