body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', Helvetica, '游ゴシック', 'Yu Gothic', YuGothic, HiraKakuProN-W3, 'メイリオ', Meiryo, sans-serif;
    font-size: 18px;
    color: #333;
}

.border {
    background: #333;
    width: 120px;
    height: 2px;
    margin: 0 auto;
}

.container {
    margin: 40px 40px 40px 40px;
    text-align: center;
}

h1 {
    font-weight: 100;
    font-size: 32px;
    margin-bottom: 10px;
}

h2 {
    position: relative;
    display: inline-block;
    margin-bottom: 40px;
    padding: 0 50px;
    font-weight: 100;
    font-size: 28px;
}

h2:before, h2:after {
    content: '';
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 30px;
    height: 1px;
    background-color: #333;
}

h2:before {
    left:0;
}

h2:after {
    right: 0;
}

a:hover {
    text-decoration: underline;
}

header {
    width: 90%;
    height: 100px;
    margin: 0 auto;
}

.home {
    float: left;
    margin-top: 50px;
}

.global-nav {
    float: right;
    margin-top: 50px;
}
  
.global-nav li {
    float: left;
    margin: 0 20px;
    font-size: 16px;
    list-style: none;
}
  
.global-nav li a {
    text-decoration: none;
    color: #333;
}
  
.global-nav li a:hover {
    border-bottom: 2px solid #333;
    padding-bottom: 3px;
    text-decoration: none;
}

section {
    margin-bottom: 60px;
}

.profile .my-photo {
    width: 100px;
    height: 100px;
    margin: 40px auto 10px auto;
    border-radius: 50%;
}

.profile .my-name {
    font-size: 24px;
    margin-bottom: 5px;
}

.profile .statement {
    font-size: 14px;
}

.features-block {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.feature {
    width: 280px;
    margin: 0 10px;
}

.feature .title {
    font-size: 18px;
}

.feature .description {
    font-size: 16px;
}

.feature i {
    font-size: 40px;
    margin: 20px 0 20px 0;
    color: #666;
}

.contents-block {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.content {
    width: 140px;
    height: 140px;
    margin: 0 80px;
    background: #ccc;
    color: #666;
}

.content i {
    font-size: 40px;
    margin: 20px 0 20px 0;
}

.content .name {
    padding-top: 20px;
}

.content:hover {
    transition-duration: 0.3s;
    color: #fff;
    background: #666;
}

@media screen and (max-width:1000px) {
    .feature {
        width: 200px;
    }
    .content {
        margin: 0 40px;
    }
}
  
@media screen and (max-width:760px) {
    .home {
        float: none;
        margin-top: 15px;
        text-align: center;
    }
    .global-nav {
        float: none;
        padding-left: 0;
        margin-top: 15px;
        text-align: center;
    }
    .global-nav li {
        display: inline;
        float: none;
        margin: 0 8px;
    }     
    .feature {
        width: 400px;
        margin: 40px;
    }
    .contents-block {
        display: block;
    }
    .content {
        margin: 0 auto 40px auto;
    }
}
